<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Tasks</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script th:inline="javascript">
    function confirmDelete(){
      return confirm("Are you sure you want to delete this task?");
    }
  </script>
</head>
<body>
  <h3><strong>To-do List Web App</strong></h3>
  <div class="container">
    <div class="row mt-4">
      <div class="card shadow">
        <div class="card-body px-5">
          <h4 class="card-title text-center"><strong>Add Task</strong></h4>
            <form action="/tasks/new" method="POST" th:object="${task}">
              <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
              <label for="title" class="form-label">Title:</label>
              <input type="text" id="title" name="title" class="form-control"><br>
              <label for="description" class="form-label">Description:</label>
              <textarea id="description" name="description" class="form-control" rows="3"></textarea><br>
              <div class="text-danger" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}">Title Error</div>
              <label for="dueDate" class="form-label">Due Date:</label>
              <input type="date" id="dueDate" name="dueDate" class="form-control"><br>
              <input type="submit" value="Add Task" class="btn btn-primary">
            </form>
        </div>
      </div>
    </div>
    <div th:each="task: ${tasks}" class="row mt-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title"><strong th:text="${task.title}"></strong></h5>
          <p class="card-text" th:text="${task.description}"></p>
          <span>Due Date: <span th:text="${task.dueDate}"></span></span>
          <div class="mt-3">
            <a th:href="@{|/tasks/${task.id}/edit|}" class="btn btn-primary">Edit Task</a>
            <a onclick="return confirmDelete();" th:href="@{|/tasks/${task.id}/delete|}" class="btn btn-danger">Delete Task</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>